strict-ssl=false
registry=https://registry.npmmirror.com/
ELECTRON_MIRROR=https://registry.npmmirror.com/-/binary/electron/
ELECTRON_BUILDER_BINARIES_MIRRORR=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
audit=false
# ELECTRON_BUILDER_BINARIES_MIRROR=https://mirrors.huaweicloud.com/electron-builder-binaries/ 
